

.nav_bar{
    height: 50px;
    background-color: blueviolet;
    position: sticky;
    top:0px;
    left:0px;
}

.nav_list{
    list-style-type: none;
}

.nav_item a{
    float: left;
    padding: 10px;
    color: white;
}

.nav_item a:hover{
        color: orange;
        cursor: pointer;
}

.nav_item a:active{
    font-weight: bold;
}

.logout{
    float: right;
    margin-right: 10px;
    margin-top:5px;
}